$table-bg : #fff;
$table-th-bg : #f8f8f9;
$table-tr-bg : #fff;
$table-tr-bg-hover : #ebf7ff;
$screen-xs: 480px !default; // 手机
$screen-sm: 768px !default; // 平板
$screen-md: 992 !default;  // 桌面计算机
$screen-lg: 1200 !default;
