.gs-table{
  width: 100%;
  overflow: hidden;
  background-color: $table-bg;
  font-size: 12px;
  box-sizing: border-box;
  th{
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    background-color: $table-th-bg;
  }
  td{
    border: 0px;
    height: 40px;
    white-space: nowrap;
  }
}
.gs-table-cell{
  padding-left: 18px;
  padding-right: 18px;
}
.gs-table-head{
  table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }
  .gs-table-cell{
  }
}
.gs-table-tbody{
  box-sizing: border-box;
  overflow: auto;
  table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    .gs-table-tr:nth-child(2n){
      background-color: #f8f8f9;
    }
    .gs-table-tr:nth-child(2n):hover{
      background-color: $table-tr-bg-hover;
    }
    .gs-table-cell-small{
      height: 20px;
    }
    .gs-table-cell-middle{
      height: 40px;
    }
    .gs-table-cell-big{
      height: 60px;
    }
  }
}
.gs-table-tr{
  background: $table-tr-bg;
}
.gs-table-tr:hover{
  transition: background-color .2s ease-in-out;
  background: $table-tr-bg-hover;
}
